*, *::before, *::after{
    box-sizing: border-box;
    padding: 0%;
}


body{
    background-color: rgb(216, 215, 215);
}

.container-fluid{
    margin-left: 18%;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.navbar-nav{
    display: flex;
    margin-left: 50vw;
}

.nav-item{
    list-style: none;
}

.nav-link{
    color: white;
}

